.characters-container {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
}

@media screen and (min-width: 610px) and (max-width: 809px) {
  .characters-container {
    display: grid;
    justify-content: center;
    grid-template-columns: .3fr .3fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
}

@media screen and (min-width: 810px) {
  .characters-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 252px 252px 252px;
    grid-column-gap: 1rem;
  }
}

@media screen and (min-width: 1076px) {
  .characters-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 252px 252px 252px 252px;
    grid-column-gap: 1rem;
  }
}

@media screen and (min-width: 1440px) {
  .characters-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 252px 252px 252px 252px 252px;
    grid-column-gap: 1rem;
  }
}

.loading-indicator {
  display: grid;
  height: 88vh;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}